Flow2.json
[{"id":"225248ea.c6c978","type":"inject","z":"ae46c06b.a95ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["125353fd.0a896c"]]},{"id":"125353fd.0a896c","type":"function","z":"ae46c06b.a95ba","name":"Payload","func":"msg.headers={\n    deviceKey:\"uJiKWeWkDl40b2rE\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["ea3b5885.cd0998"]]},{"id":"ea3b5885.cd0998","type":"http request","z":"ae46c06b.a95ba","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dc0GDnnt/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":180,"wires":[["369cfe13.6740e2","1321cf44.dfffd1"]]},{"id":"369cfe13.6740e2","type":"http response","z":"ae46c06b.a95ba","name":"","statusCode":"","headers":{},"x":520,"y":260,"wires":[]},{"id":"1321cf44.dfffd1","type":"debug","z":"ae46c06b.a95ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":360,"wires":[]}]