Flow1.json
[{"id":"47157775.52ae18","type":"rpi-gpio in","z":"34b7a24a.4fbb9e","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":180,"wires":[["50a3f648.043678","b82b4ae8.3c76d8"]]},{"id":"50a3f648.043678","type":"debug","z":"34b7a24a.4fbb9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"b82b4ae8.3c76d8","type":"switch","z":"34b7a24a.4fbb9e","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["4ffa943a.2fd37c"],["8e16bc50.02081"]]},{"id":"4ffa943a.2fd37c","type":"change","z":"34b7a24a.4fbb9e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["efafe1aa.7ebb5"]]},{"id":"8e16bc50.02081","type":"change","z":"34b7a24a.4fbb9e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["efafe1aa.7ebb5"]]},{"id":"efafe1aa.7ebb5","type":"rpi-gpio out","z":"34b7a24a.4fbb9e","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":630,"y":180,"wires":[]}]