Flow3.json
[{"id":"88d52eca.778ea","type":"inject","z":"4c2afb1c.353624","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["628372dd.34f1bc"]]},{"id":"628372dd.34f1bc","type":"function","z":"4c2afb1c.353624","name":"Payload","func":"msg.headers={\n    deviceKey: \"uJiKWeWkDl40b2rE\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["449de718.55a2a8"]]},{"id":"449de718.55a2a8","type":"http request","z":"4c2afb1c.353624","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dc0GDnnt/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":300,"wires":[["f28116fc.bae798","3f04214e.444d9e"]]},{"id":"f28116fc.bae798","type":"http response","z":"4c2afb1c.353624","name":"","statusCode":"","headers":{},"x":530,"y":220,"wires":[]},{"id":"3f04214e.444d9e","type":"debug","z":"4c2afb1c.353624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":480,"wires":[]}]